name: Build

on:
  workflow_call:
    inputs:
      jdk:
        type: number
        default: 17
      goals:
        type: string
        default: 'clean package'
    secrets:
      PACKAGES_TOKEN:
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'corretto'
        overwrite-settings: false
        java-version: ${{ inputs.jdk }}
    - name: Configure Maven
      run: |
        mkdir -p ~/.m2
        echo "<settings>
                <servers>
                  <server><id>github</id><username>x-access-token</username><password>${{ secrets.GITHUB_TOKEN }}</password></server>
                  <server><id>github-nkk-tng</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-ecvo</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-prove</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-helse</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-dommer</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-intouch</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-okonomi</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-utstilling</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-dyreidentitet</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-apache-tiles</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-origin-legacy</id><username>x-access-token</username><password>${{ secrets.ORIGIN_PACKAGES_TOKEN }}</password></server>
                  <server><id>github-origin-gt-legacy</id><username>x-access-token</username><password>${{ secrets.ORIGIN_PACKAGES_TOKEN }}</password></server>
                </servers>
              </settings>" > ~/.m2/settings.xml
    - name: Cache maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
    - name: Build with Maven
      run: mvn -B ${{ inputs.goals }} --file pom.xml
