name: Release

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      branch:
        type: string
        default: 'master'
      goals:
        type: string
        default: 'clean package'
      jdk:
        type: number
        default: 17
        
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'corretto'
        overwrite-settings: false
        java-version: ${{ inputs.jdk }}
    - name: Configure Maven
      run: |
        mkdir -p ~/.m2
        echo "<settings>
                <servers>
                  <server><id>github</id><username>x-access-token</username><password>${{ secrets.GITHUB_TOKEN }}</password></server>
                  <server><id>github-nkk-tng</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-ecvo</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-prove</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-helse</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-dommer</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-intouch</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-okonomi</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-utstilling</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-dyreidentitet</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-nkk-apache-tiles</id><username>x-access-token</username><password>${{ secrets.PACKAGES_TOKEN }}</password></server>
                  <server><id>github-origin-legacy</id><username>x-access-token</username><password>${{ secrets.ORIGIN_PACKAGES_TOKEN }}</password></server>
                  <server><id>github-origin-gt-legacy</id><username>x-access-token</username><password>${{ secrets.ORIGIN_PACKAGES_TOKEN }}</password></server>
                </servers>
              </settings>" > ~/.m2/settings.xml
    - name: Cache maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
    - name: Maven release
      run: |
        mvn --batch-mode versions:set -DnewVersion=${{ inputs.version }} -DprocessAllModules -DgenerateBackupPoms=false
        mvn ${{ inputs.goals }}
        mvn --batch-mode build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.minorVersion}.\${parsedVersion.nextIncrementalVersion}-SNAPSHOT -DprocessAllModules -DgenerateBackupPoms=false
    - name: Create release with release notes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}
      run: |
        gh release create "$tag" \
            --repo="$GITHUB_REPOSITORY" \
            --title="${tag#v}" \
            --generate-notes
    - name: Only keep latest 25 releases
      uses: dev-drprasad/delete-older-releases@v0.3.4
      with:
        keep_latest: 25
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
